/*
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

 @import 'compass/reset';

 @font-face {
  font-family: 'mplus-1c-thin';
  src: url(http://l0o0l.info/material/fonts/mplus-1c-thin.ttf) format('opentype');
 }
 @font-face {
  font-family: 'mplus-1c-light';
  src: url(http://l0o0l.info/material/fonts/mplus-1c-light.ttf) format('opentype');
 }

@mixin little_transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

$user_color: #888;
$link_color: rgb(13, 177, 211);

$headings: h1, h2, h3, h4, h5, h6;
$size: 1.8em, 1.6em, 1.4em, 1.3em, 1.2em, 1.1em;
$head-size: zip($headings, $size);

*, a, .date, h3 {
  font-family: 'mplus-1c-light';
}
h1, .time {
  font-family: 'mplus-1c-thin';
}
p, .content, .comments, .read_more_content {
   font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}
a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: right;
  color: #666;
}

.user_icon img {
  border-radius: 50% 0;
  vertical-align: middle;
}

.wrapper {
  width: 1000px;
  margin: auto;
}
body {
  background-color: #ffffff;
  background-image: url(arches.png);
  background-attachment: fixed;
  .contents {
    width: 750px;
    margin: 0px auto;
    padding: 20px 0;
    .row {
      width: 100%;
      clear: both;
      .column_date {
        width: 16%;
        float: left;
        margin-top: -2px;
        .date {
          font-size: 14px;
          color: #888888;
          line-height: 17px;
        }
        .time {
          font-size: 30px;
          color: #888888;
          border-top: 1px solid #E73306;
          margin-right: -43px;
        }
      }
      .column_left {
        float: left;
        width: 7%;
        position: relative;
        .user_icon {
          margin: -4px;
          img {
            border: 1px solid #333;
            padding: 3px 2px 2px 4px;
            background: #fff;
            width: 30px;
          }
        }
      }
      .column_right {
        float: left;
        width: 77%;
        margin-top: 3px;
        position: relative;
        h3.title {
          font-size: 20px;
          white-space: nowrap;
          overflow: hidden;
          float: left;
          line-height: 30px;
          margin: -5px 0;
          max-width: 600px;
          a {
            font-size: 20px;
            text-align: center;
            border-radius: 10px;
            letter-spacing: 2px;
          }
        }
        .options {
          white-space: nowrap;
          a:hover { text-decoration: none; }
          .label {
            display: inline-block;
            background: transparent;
            color: #fff;
            border-radius: 5px;
            padding: 4px 6px;
            margin: 0px -3px -2px 11px;
            font-size: 12px;
            font-weight: 100;
            font-family: 'Helvetica', Helvetica, Arial, sans-serif;
            @include little_transition;
            &.tbm {
              border:1px solid #1abc9c; color: #1abc9c;
              &:hover { background:#1abc9c; color: #fff; }
            }
            &.as_qdr {
              border:1px solid #DA0; color: #DA0;
              &:hover { background:#F1BA00; color: #fff; }
            }
            &.lr {
              border:1px solid #e67e22; color: #e67e22;
              &:hover { background:#e67e22; color: #fff; }
            }
            &.tbs {
              border:1px solid #e74c3c; color: #e74c3c;
              &:hover { background:#e74c3c; color: #fff; }
            }
            &.source {
              border:1px solid #9b59b6; color: #9b59b6;
              &:hover { background:#9b59b6; color: #fff; }
            }
          }
        }
        .content {
          width: 100%;
          margin: 10px 5px 4px -38px;
          font-weight: 100;
          font-size: 14px;
          float: left;
          line-height: 20px;
          word-break: break-all;
          border-left: 1px solid #8A8A8A;
          padding: 18px 26px 26px 42px;
          a {
            vertical-align: middle;
            font-weight: 100;
            font-family: 'Helvetica', Helvetica, Arial, sans-serif;
          }
          .page_info {
            color: #666;
            border: #666 1px solid;
            border-radius: 8px;
            padding: 2px 2px 2px 6px;
            line-height: 37px;
            margin-right: 5px;
            font-size: 12px;
            i {
              font-size: 16px;
              vertical-align: middle;
              border-right: 1px dotted #666;
              padding: 1px 3px 0 0;
            }
            &.sec_after{
              &:before {
                content: '';
                position: absolute;
                margin: -22px -50px;
                border-bottom: 1px solid #666;
                width: 43px;
                border-radius: 0px 0px 0px 57%;
                height: 40px;
              }
            }
            &.rank{
              &:before {
                content: '';
                position: absolute;
                margin: 18px -12px;
                border-top: 1px solid #666;
                width: 5px;
              }
            }
          }
        }
      }
    }
  }
  .truncate {
    word-break: break-all;
  }
  .pagination {
    float: right;
    margin-bottom: 20px;
  }
}
