/*
 *= require_self
 *= require_tree .
 */

 @import 'compass/reset';

 @font-face {
  font-family: 'mplus-1c-thin';
  src: url(http://l0o0l.info/material/fonts/mplus-1c-thin.ttf) format('opentype');
 }
 @font-face {
  font-family: 'mplus-1c-light';
  src: url(http://l0o0l.info/material/fonts/mplus-1c-light.ttf) format('opentype');
 }

@mixin little_transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

$user_color: #888;
$link_color: rgb(13, 177, 211);

$headings: h1, h2, h3, h4, h5, h6;
$size: 1.8em, 1.6em, 1.4em, 1.3em, 1.2em, 1.1em;
$head-size: zip($headings, $size);

*, a, .date, h3, .label, .sec_after {
  font-family: 'mplus-1c-light';
}
h1, .time {
  font-family: 'mplus-1c-thin';
}
p, .content, .comments, .read_more_content {
   font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}
a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: right;
  color: #666;
}

.user_icon img {
  border-radius: 50%;
  vertical-align: middle;
}

.wrapper {
  width: 1000px;
  margin: auto;
}
body {
  background-color: #ffffff;
  background-image: url(arches.png);
  background-attachment: fixed;
  .contents {
    width: 750px;
    margin: 0px auto;
    padding: 20px 0;
    .row {
      width: 100%;
      clear: both;
      .column_date {
        width: 16%;
        float: left;
        margin-top: -2px;
        .date {
          font-size: 14px;
          color: #888888;
          line-height: 17px;
        }
        .time {
          font-size: 30px;
          color: #888888;
          border-top: 1px solid #E73306;
          margin-right: -43px;
        }
      }
      .column_left {
        float: left;
        width: 7%;
        position: relative;
        .user_icon {
          margin: -4px;
          img {
            border: 1px solid #333;
            padding: 3px 2px 2px 4px;
            background: #fff;
            width: 30px;
          }
        }
      }
      .column_right {
        float: left;
        width: 77%;
        margin-top: 3px;
        position: relative;
        h3.title {
          font-size: 20px;
          white-space: nowrap;
          overflow: hidden;
          float: left;
          a {
            font-size: 20px;
            text-align: center;
            border-radius: 10px;
            letter-spacing: 2px;
          }
        }
        .label {
          float: left;
          background: #333;
          color: #fff;
          border-radius: 5px;
          padding: 4px 6px;
          margin: 2px 4px -2px;
          font-size: 12px;
          &.tbm { background: #1abc9c; }
          &.as_qdr { background: #f1c40f; }
          &.lr { background: #e67e22; }
          &.tbs { background: #e74c3c; }
          &.source { background: #9b59b6; }
        }
        .content {
          width: 100%;
          margin: 10px 5px 4px -38px;
          font-weight: 100;
          font-size: 14px;
          float: left;
          line-height: 20px;
          word-break: break-all;
          overflow-y: scroll;
          border-left: 1px solid #8A8A8A;
          padding: 18px 26px 26px 42px;
          .page_info {
            color: #E0E0E0;
            background: #363636;
            border-radius: 8px;
            padding: 2px 2px 2px 6px;
            line-height: 37px;
            margin-right: 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .truncate {
    word-break: break-all;
  }
}
